{% extends "data_viz/base.html" %}
{% block body_block %}

{% load static %}

<div class="container">
  <div class="jumbotron">'

    <h1 class="text-center" >Senior Design Project</h1>

    <h5>What is the senior design project</h5>
    <p style="text-indent: 40px">Every CS/EE student is required to complete a year long 'capstone' project in order to graduate. During this time, students work together in teams of 4-6 members with the support of corporate or factilty sponsorship. The first quarter is dedicated to learning software development practices such as the agile methodology, clean coding, and version control while the second and third quarter has students apply these principles based on the sponsor's project.</p>

    <h5>My project</h5>
    <p style="text-indent: 40px">My capstone project, visualizing climate change, was sponsored through the capstone course instructor, Richard Julig. I led a team of three other students as scrum master to develop the data visualizations. While our focus was to develop and investigate unique data visualizations for education purposes, I felt we never really accomplished education aspect. That said, I believe we did succeed in creating valuable visualizations.</p>

    <h1 class="text-center"><a href="https://climate-visuals.herokuapp.com/">Capstone Website</a></h1>



</div>
</div>


<div class="container">
  <div class="jumbotron">'
    <h1 class="text-center">The Development Experience</h1>

    <h3>Agile methodology</h3>
    <p>Enter some paragraph text</p>
    <div class="row">
      <div class="col-sm-6">
        <h5>Pros</h5>
        <ul class="fa-ul">

          <li><i class="fa-li fa fa-plus"></i> Adaptive to unforseen obstacles</li>
          <p></p>
          <ul>
            <li>Example: We didn't realize what we were getting ourselves into when learning D3. We chronically underestimated the required hours to develop visualization components. Having the agile methodology allowed us backlog and adjust our goals as needed.</li>
          </ul>

          <p></p>
          <li><i class="fa-li fa fa-plus"></i>Valuable 'toolset'</li>
          <p></p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>

        </ul>
      </div>

      <div class="col-sm-6">
        <h5>Cons</h5>
        <ul class="fa-ul">

          <li><i class="fa-li fa fa-times"></i>Backlogging yielded team laziness</li>
          <p></p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>

          <p></p>
          <li><i class="fa-li fa fa-times"></i>Difficult to plan expected hours per task</li>
          <p></p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>

        </ul>
      </div>
    </div>


    <h3>Teamwork & Communication</h3>

    <h5>Slack communication</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h5></h5>
    <div class="row">
      <div class="col-sm-6">
        <h5>Success</h5>
        <ul class="fa-ul">

          <li><i class="fa-li fa fa-plus"></i> Adaptive to unforseen obstacles</li>
          <p></p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>

          <p></p>
          <li><i class="fa-li fa fa-plus"></i>Valuable 'toolset'</li>
          <p></p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>

        </ul>
      </div>

      <div class="col-sm-6">
        <h5>Failures</h5>
        <ul class="fa-ul">

          <li><i class="fa-li fa fa-times"></i>Backlogging yielded team laziness</li>
          <p></p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>


        </ul>
      </div>
    </div>

  </div>
</div>




<div class="container">
  <div class="jumbotron">'
    <h1 class="text-center">Personal Contributions</h1>
<p>Below are my contributions to the senior design project. I have tried to provided links per listed item, but unfortunately some of the work is broken up across multiple files.</p>
<ul>
  <li>Writing python parsing scripts to format datasets.</li>
  <ul>
    <li>Step-by-step discussion of one of the parsing scripts I wrote: <a href="http://127.0.0.1:8000/data_viz/data_wrangle" target="_blank">Here</a></li>
    <li>Code: <a href="https://github.com/schan54/Data-Visualization/blob/master/dataSets/energy/createAllEnergy/totalConvert.py" target="_blank">Here</a></li>
  </ul>

  <li>Project directory management: <a href="https://github.com/schan54/Data-Visualization" target="_blank">Here</a></li>
  <li>Overhauled original barebone website to use free HTML/CSS template for front page & nav:</li>
  <ul>
    <li>I left the CSS to my teammates for their respective climate change pages for temperature, co2, energy, and sea level...</li>
  </ul>

  <li>Heroku integration and upkeep</li>
  <li>The choropleth visualization</li>
  <ul>
    <li>Choropleth: <a href="http://127.0.0.1:8000/data_viz/temperature" target="_blank">Here</a></li>
    <li>Code: <a href="https://github.com/schan54/Data-Visualization/tree/aa851bdf4b05567cc5d4d3ed6fdfbf8036860d5c/src/temperature" target="_blank">Here</a></li>
  </ul>

  <li>D3 specifc modules for re-use by teammates (NOT traditional HTML/CSS):</li>
  <ul>
    <li>Tooltips</li>
    <li>Button management: <a href="https://github.com/schan54/Data-Visualization/blob/master/src/temperature/tempChoroButtons.js" target="_blank">Here</a></li>
    <li>Input Text Box & Sanitization: <a href="https://github.com/schan54/Data-Visualization/blob/aa851bdf4b05567cc5d4d3ed6fdfbf8036860d5c/src/temperature/tempChoroButtons.js#L110" target="_blank">Here</a></li>
  </ul>

</ul>
</div>
</div>
<!-- /Home -->

{% endblock %}
