{% extends "main_page/base.html" %}
{% block body_block %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_page/css/hero_img.css' %}">

<!--================Home Banner Area =================-->
<section class="profile_area">
    <div class="container">
      <div class="profile_inner p_120">
  <div class="row">
    <div class="col-lg-5">
      <img class="img-fluid" src="{% static 'main_page/img/personal-2.jpg' %} " alt="">
    </div>
    <div class="col-lg-7">
      <div class="personal_text">
        <h6>Hello Everybody, i am</h6>
        <h3>David Krieger</h3>
        <h4>Aspiring Software Developer & IT</h4>
        <p>I am a recent graduate from the University of California where I studied computer science and cognitive science  </p>
        <ul class="list basic_info">
          <li><a href="#"><i class="lnr lnr-phone-handset"></i>949-309-7954</a></li>
          <li><a href="#"><i class="lnr lnr-envelope"></i>davidkrieger95@gmail.com</a></li>
          <li><a href="#"><i class="lnr lnr-home"></i>Santa Cruz, CA</a></li>
        </ul>
        <ul class="list personal_social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="btn btn-social-icon btn-github"></i></a> Github</li>
          <li><a href="https://www.linkedin.com/in/dave-krieger/" target="_blank"><i class="btn btn-linkedin"></i></a>LinkedIn</li>

        </ul>
      </div>
    </div>
  </div>
      </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<div class="container">
  <div class="jumbotron">'
    <h1><center>Welcome to my main home page!</center></h1>
    <h3><center>Each webpage tab expands to a a new seires of availible webpages. Click the left-aligned 'Portfolio' tab to return to this webpage</center></h3>
    <p></p>
    <h5 class="text-center">Table of Contents</h5>

    <div class="list-group">
      <a href="{% url 'data_viz:data_viz_index' %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Data Visualization</h5>
        </div>
        <p class="mb-1">Showcases climate change data visualizations which were developed using D3. Includes a section about how python data wrangling as well as videos where I analyze the story told by the visualization.</p>
        <small>Portfolio</small>
      </a>
      <a href="{% url 'about_me:about_me_index' %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">About Me</h5>
        </div>
        <p class="mb-1">Learn about my education background as well as my hobbies.</p>
        <small class="text-muted"></small>
      </a>
    </div>
    <p></p>

    <p>I built this website using Django and the standard HTML/CSS/JS/Bootstrap. Some of the other webpages use other languages which are discussed when visited.</p>
  </div>
</div>

<!-- /Home -->

{% endblock %}
