{% extends "about_me/base.html" %}
{% load static %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">'
    <h1><center>What do I do in my offtime?</center></h1>

    <p></p>
    <h5>Music</h5>
    <p>Playing music has been a critical component throught my whole life. Ever since elementary school, I have been playing an assorted range of woodwinds. Eventually my love of music expanded past just woodwinds which has brought me to my current journey on playing & learning the guitar. Finally, because I am not playing a woodwind, it has provided me the opportunity to work on my voice as well!  </p>

    <p></p>
    <h5>Video Games</h5>
    <p>Playing music has been a critical compenent throught my whole life. Ever since elementary school, I have been playing an assorted range of woodwinds. Eventually my love of music expanded past just woodwinds which has brought me to my current journey on playing & learning the guitar. Finally, because I am not playing a woodwind, it has provided me the opportunity to work on my voice as well!  </p>

    <!-- <dl class="row">

      <h5></h5>

        <dt class="col-sm-3">Music</dt>
        <dd class="col-sm-9">I grew up playing multiple woodwinds: saxophone, bassoon, clarinet, and flute. Currently, my musical ambitions lies mostly between the saxophone and guitar.</dd>

        <dt class="col-sm-3 text-truncate">Gaming</dt>
        <dd class="col-sm-9">I'm definately an avid gamer who plays a wide variety of games in my offtime. I used to engage in competitive gaming and even did some semi-pro tounrmanets in Overwatch.</dd>

        <dt class="col-sm-3">Hiking/Camping/Traveling</dt>
        <dd class="col-sm-9">My parents instilled a strong love for the outdoors & traveling which I hope to continue. I have traveled to dozens of countries and multiple continents, ask me about it!</dd>

        <dt class="col-sm-3">Cycling/Mountain Biking</dt>
        <dd class="col-sm-9">Ever since high school I rode my bike to school. I continued the tradition throughout college and would hopefully like to do the same wherever work takes me.</dd>
    </dl> -->


  </div>
</div>
<!--
<div class="container">
  <div class="jumbotron">'
    <h1><center>I also have a cat, Mira</center></h1>
    <p>I guess maybe not a hobby...? Either way, here's my cat who is a mix of mainecoon and long-hair. She loves boxes, playtime, and my mousepad. She also likes to make sure I don't sleep in too late and leave cups on the counter. I don't care, she's awesome!</p>
  </div>
</div> -->

{% endblock %}
