{% extends "about_me/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">'
    <h1><center>About Me</center></h1>
    <h3><center>I am a 23 year old double-major graduade from University of Santa Cruz. I currently still live in Santa Cruz and am searching for a job.</center></h3>

    <p></p>
    <h5 class="text-center">Table of Contents</h5>

    <div class="list-group">

      <a href="{% url 'about_me:hobbies' %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Hobbies</h5>
        </div>
        <p class="mb-1">Find out what I do in my spare time</p>
        <small class="text-muted">Personal</small>
      </a>

      <a href="{% url 'about_me:programming' %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Programming</h5>
        </div>
        <p class="mb-1">Explore my current and past progamming habits and preferences</p>
        <small class="text-muted">Portfolio/Personal</small>
      </a>

      <a href="{% url 'about_me:leader' %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Leadership Skills</h5>
        </div>
        <p class="mb-1">Learn about my experiences as a lifelong leader</p>
        <small class="text-muted">Communication/Portfolio/Personal</small>
      </a>

      <a href="{% url 'about_me:tech_dets' %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Technical_Details+Scrumboard</h5>
        </div>
        <p class="mb-1">A brief description how the about_me webpages were developed and provides a psuedo-scrumboard for my plans</p>
        <small class="text-muted">Personality</small>
      </a>

    </div>
    <p></p>
  </div>
</div>


{% endblock %}
