{% extends "about_me/base.html" %}
{% block body_block %}

{% load static %}

<div class="container">
  <div class="jumbotron">'
    <h3 class="text-center">Technical_Details</h3>
    <p>These series of webpages run on the Django frameworks using <strong><i>functional based views</i></strong>. It is designed as its own app, 'about_me'.<p>

    <hr style="width: 100%; color: black; height: 8px; background-color:black;" />
    <h3 class="text-center"> SCRUMBOARD </h3>
    <hr style="width: 100%; color: black; height: 8px; background-color:black;" />
    <h5>Not Started</h5>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-times"></i>Add photos to landing page</li>
      <li><i class="fa-li fa fa-times"></i>Add text to computer science & cognitive science webpages</li>
      <li><i class="fa-li fa fa-times"></i>Align all columns in class history</li>

    </ul>

    <p></p>
    <hr style="width: 100%; color: black; height: 8px; background-color:black;" />
    <h5>In Progress</h5>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-spinner fa-spin"></i>Nothing ongoing on the about_me webpages: </li>
    </ul>

    <p></p>
    <hr style="width: 100%; color: black; height: 8px; background-color:black;" />
    <h5>Future development goals - "Reach"</h5>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-times"></i>Make each webpage more aesthetically pleasing. Overhaul with alot more css using bootsrap/fontawesome/etc</li>
    </ul>

</div>
</div>


<!-- /Home -->

{% endblock %}
