{% extends "education/base.html" %}
{% block body_block %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hero_img.css' %}">

<div class="container">
  <div class="jumbotron">'
    <h1 class="text-center">Wow, that's a lot of classes!</h1>
    <h5>I studied at UC Santa Cruz for five consecutive years including the summer in order to accomplish my goals as a double major. In addition, I also was originally declared as an engineering student for the first ~3 years. This provided me the opportunity to work with lower level systems and hardware as well as supplying a very strong techinical background. I would have liked to finish out my studies as an engineer, but ran out of time.</h3>
  </div>
</div>


<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
    <h3>Computer Science - Languages/Algorithms</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">C Programming</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Java</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Compilers</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Data Structures</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Abstract Data Types & Algorithms</th>
          <td>Computer Science</td>
        </tr>

      </tbody>
    </table>
</div>

<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
    <h3>Computer Science - Applications/Systems</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Computer Networks</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Computer Security</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Operating Systems</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Artificial Intelligence</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Senior Design Project I</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Senior Design Project II</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Senior Design Project III</th>
          <td>Computer Science</td>
        </tr>
      </tbody>
    </table>
</div>


<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
    <h3>Engineering</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Computer Architecture & Assembly (Lower Div)</th>
          <td>Engineering</td>
        </tr>
        <tr>
          <th scope="row">Computer Architecture (Upper div)</th>
          <td>Engineering</td>
        </tr>
        <tr>
          <th scope="row">Electrical Circuits</th>
          <td>Engineering</td>
        </tr>
        <tr>
          <th scope="row">Logic Design</th>
          <td>Engineering</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
    <h3>Human Computer Interaction</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Computer Mediated Communications</th>
          <td>Psychology</td>
        </tr>
        <tr>
          <th scope="row">Social Networks</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Automation</th>
          <td>Engineering</td>
        </tr>
        <tr>
          <th scope="row">Natural Artificial Intelligence</th>
          <td>Psychology</td>
        </tr>
        <tr>
          <th scope="row">Universal Access</th>
          <td>Engineering</td>
        </tr>
        <tr>
          <th scope="row">Engineering Ethics</th>
          <td>Engineering</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
  <h3>Physics</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Class Name</th>
        <th scope="col">Offering Department</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mechanics</th>
        <td>Physics</td>
      </tr>
      <tr>
        <th scope="row">Waves & Optics</th>
        <td>Physics</td>
      </tr>
      <tr>
        <th scope="row">Electricity & Magnetism</th>
        <td>Physics</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
  <h3>Mathematics</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Differential Calculus</th>
          <td>Math</td>
        </tr>
        <tr>
          <th scope="row">Integral Calculus</th>
          <td>Math</td>
        </tr>
        <tr>
          <th scope="row">Multivariable Calculus</th>
          <td>Math</td>
        </tr>
        <tr>
          <th scope="row">Vector Calculus</th>
          <td>Math</td>
        </tr>
        <tr>
          <th scope="row">Probability/Statistics</th>
          <td>Math</td>
        </tr>
        <tr>
          <th scope="row">Linear Algera</th>
          <td>Math</td>
        </tr>
        <tr>
          <th scope="row">Applied Discrete Mathematics</th>
          <td>Engineering</td>
        </tr>
        <tr>
          <th scope="row">Statistics & Psychology</th>
          <td>Psychology</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
    <h3>Cognitive Science/Psychology</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Cognitive Neuroscience</th>
          <td>Psychology</td>
        </tr>
        <tr>
          <th scope="row">Visual Spatial Cognition</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Fundamental Cognitive Theories</th>
          <td>Psychology</td>
        </tr>
        <tr>
          <th scope="row">Research Methods</th>
          <td>Psychology</td>
        </tr>
        <tr>
          <th scope="row">Psychology of Reading</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Psychology of Language</th>
          <td>Computer Science</td>
        </tr>
        <tr>
          <th scope="row">Feelings and Emotions</th>
          <td>Computer Science</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
    <h3>Writing</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Rhetoric & Inquiry</th>
          <td>Writing</td>
        </tr>
        <tr>
          <th scope="row">Biological Antrhopology</th>
          <td>Antrhopology</td>
        </tr>
        <tr>
          <th scope="row">Environment and Us</th>
          <td>Writing</td>
        </tr>
        <tr>
          <th scope="row">Creative Writing</th>
          <td>Writing</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <hr style="width: 100%; color: black; height: 16px; background-color:black;" />
    <h3>Foreign languages</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Offering Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Chinese I</th>
          <td>Linguistics</td>
        </tr>
        <tr>
          <th scope="row">Chinese II</th>
          <td>Linguistics</td>
        </tr>
        <tr>
          <th scope="row">Chinese III</th>
          <td>Linguistics</td>
        </tr>
        <tr>
          <th scope="row">Chinese IV</th>
          <td>Linguistics</td>
        </tr>
      </tbody>
    </table>
</div>

<!-- /Home -->

{% endblock %}
