{% extends "education/base.html" %}
{% block body_block %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hero_img.css' %}">

<div class="container">
  <div class="jumbotron">'
    <h1 class="text-center">Computer Science</h1>
    <h5>The path for graduation as a computer scientist at UC Santa Cruz is based upon ~five different pillars: </h5>
    <ul>
      <li>Mathematics</li>
      <li>Algorithms</li>
      <li>Data Structures</li>
      <li>Computer Systems</li>
      <li>Variety of Languages</li>


    </ul>
  </div>
</div>

<div class="container">
  <div class="jumbotron">'
    <h1 class="text-center">Lower Division Courses</h1>

    <h5>Programming Basics</h5>
    <p>Students take a series of introductory courses covering c & java, data structures, and algorithms. I don't really remember too much about the assignments unfortunately, but here are a few things which still remember about back then</p>
    <ul>
      <li>Create a RPN in C</li>
      <li>Basic data structures in java & C: linked lists, stacks, queues</li>
      <li>Basic algorithms: Insertion, buble, merge, quick, binary</li>
      <li>Basic SSH to unix server</li>
    </ul>

    <p></p>
    <h5>Mathematics</h5>
    <p>Math courses develop students ability to understand computer algorithms, data structures, and systems/applications. I wound taking a long series of mathematics classes originally as a computer engineer where I completed four different calculus courses as well as other fundamental math courses such as linear algebra and statistics. While these courses provided necessary insights towards computer science comprehension, they also served as the backbone of many other classes such as physics, electrical circuits, and AI.</p>

    <p></p>
    <h5>Physics</h5>
    <p>I took a series of three engineering physics classes: mechanics, waves & opics, and electricity & magnetism (E&M). The E&M class was by far the most valuable for its obvious relation towards computers. It helped me ground the connection between computer architecture and 'the real world'. However, the studies in waves & optics was suprisingly helpful for my studies in cognitive science when discussing visual perception. </p>

  </div>
</div>



<div class="container">
  <div class="jumbotron">'
    <h1 class="text-center">Upper Division Courses</h1>

    <p></p>
    <h5>Computer Systems</h5>
    <p  style="text-indent: 40px">The UCSC CS deparment requires students to complete a set of 'fundamental' computer system courses as well as a set of elective courses. Some of the most notable required courses I took were operating systems, computer architecture, and algorithsm/ADTs. These three classes really grew my understanding about the lower-level processes that occur within computers. While I did also take a compiler design class, I feel it didn't really fufill a void in my education. Once I completed it, I though, "<i>Wow, I guess I understand how my code is interpretted. Unless I go into a niche CS field, I doubt I will rely on the information I learned there. </i>". THE ADT & Algorithms class was likely one of the most growthful classes I experienced because I apply what I learned there towards almost everything else I do. </p>
    <p  style="text-indent: 40px">The elective computer system courses helped prepare me 'for the real world'. I took classes for subjects such as computer networks and security which are universally applicable. I particularly enjoyed the security class because we used multiple languages and actually 'attacked' secure servers in order to gain first-hand knowledge about weaknesses. There were alot of cool assignments in that class that I would LOVE to talk about.</p>

    <p></p>
    <h5>Senior Design Project</h5>
    <p style="text-indent: 40px">Every CS/EE student is required to complete a year long 'capstone' project in order to graduate. During this time, students work together in teams of 4-6 members with the support of corporate or factilty sponsorship. The first quarter is dedicated to learning software development practices such as the agile methodology, clean coding, and version control while the second and third quarter has students apply these principles based on the sponsor's project.</p>
    <p style="text-indent: 40px">My capstone project, visualizing climate change, was sponsored through the capstone course instructor, Richard Julig. I led a team of three other students as scrum master to develop the data visualizations featured on this <a href="https://climate-visuals.herokuapp.com/">website</a>. If you would like to learn more about my contributions or learn more about the project click <a href="http://127.0.0.1:8000/data_viz/sdp">here</a>. Ultimately, it taught me alot (both good and bad!) about the development process and how to work as a team.</p>
    <p style="text-indent: 40px"></p>

  </div>
</div>
<!-- /Home -->

{% endblock %}
